.footerlogo{
    height:50px;
    width:50px;
    padding:5px;
    margin-right:2vw
}

.profileImg{
    height: 110px;
    width:110px;
    padding:5px;
    border-radius: 55px;
    border:2px solid #1212123d;
    position:relative;
    bottom:30px;
    right:5px;
    background-color: #ffff;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
.footerh1{
    font-family: 'Caveat', cursive;
    font-size:3vmax;
    text-align: center;
    margin:25px 55px 25px 55px;
}

.footer{
    background:linear-gradient(to top,#f8f9fa , #ffff) 
}